{% extends 'recipes/base.html' %}

{% block title %}Pridať recept{% endblock %}

{% block content %}

<h2>Pridať recept</h2>

<form method="post">
    {% csrf_token %}

    <label>Názov:</label>
    {{ form.name }}

    <label>Popis:</label>
    {{ form.description }}

    <label>Postup:</label>
    {{ form.procedure }}

    <label>Čas:</label>
    {{ form.prep_time }}

    <label>Náročnosť:</label>
    {{ form.difficulty }}

    <label>Kategória:</label>
    {{ form.category }}

    <h3>Ingrediencie k receptu</h3>

{% for ingredient in ingredients %}
    <label>
        <input type="checkbox" name="ingredients" value="{{ ingredient.id }}">
        {{ ingredient.name }}
    </label>
    <br>
{% endfor %}

    <br><br>
    <button type="submit">Uložiť</button>
</form>

<p>
    <a href="{% url 'recipes' %}">Späť na recepty</a>
</p>

{% endblock %}